<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Drink</key>
	<array>
		<string>Coca Cola</string>
		<string>Coca Cola Light</string>
		<string>Orangina</string>
		<string>Sprite</string>
		<string>Minutt Maid</string>
		<string>Evian</string>
	</array>
	<key>Sauce</key>
	<array>
		<string>Harissa</string>
		<string>Barbecue</string>
		<string>Ketchup</string>
		<string>Mayonnaise</string>
		<string>Sauce Algerienne</string>
		<string>Sauce Blanche</string>
		<string>Biggy</string>
	</array>
	<key>Taille</key>
	<array>
		<string>Medium</string>
		<string>Large</string>
		<string>Grand</string>
	</array>
</dict>
</plist>
